<div class="sidebar">
  <div class="chanels-container">
    <div class="my-chanels">
      <div class="header-container">
      <h4>
        Собствени Канали
      </h4> 
      <button (click)="processOnCreate()" class="add-button">
        ➕
      </button>  
    </div> 
      @for(channelElement of channelsOwnerCollection; track channelElement) {
        <div class="element">
          <a href="#"(click)="sendChannelId(channelElement.id);$event.preventDefault()">{{ channelElement.name }}</a>
          <div>
          <div (click)="processOnEdit(channelElement)" class="btn">✏️</div>
          <div (click)="processOnDelete(channelElement)" class="btn">🗑️</div>
        </div>
        </div>
        }
        @if(isEditFormVisible && selectedChannel) {
          <div class="edit-form">
          <input [(ngModel)]="selectedChannel.name" type="text" #editInput />
          <button (click)="processOnSave()">Save</button>
          </div>
          }
        @if(isCreateFormVisible) {
          <div class="create-form">
            <input #saveInput type="text" placeholder="Enter channel name..." />
            <button (click)="processOnCreateChannel(saveInput.value)">Save</button>
          </div>
        }
      </div>
      <div class="owned-chanels">
        <h4>Други Канали</h4>
        @for(channelElement of channelsMemberCollection; track channelElement) {
          <div class="element">
            <a href="#"(click)="sendChannelId(channelElement.id);$event.preventDefault()">{{ channelElement.name }}</a>
          </div>
          }
        </div>
    </div>
    <div class="friends-container">
      <h4>Приятели</h4>
      @for(friendElement of friendsCollection; track friendElement) {
        <div class="element">
            <a href="#"(click)="sendFriendId(friendElement.id);$event.preventDefault()">{{ friendElement.username }}</a>
          </div>
        }
      </div>
    </div>
    
    